* {
	font-family: sans-serif;
}

#titleBox
{
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;

}
#trackSection > tbody > tr {
	font-size: 0.9rem;
}

#gameWindow {
	display: inline-flex;
}

#dotInfoWindow {
	background: linear-gradient(rgb(170, 75, 107), rgb(107, 107, 131), rgb(59, 141, 153));
}

#distanceBoxWrapper {
	display: inline-flex;
}

#distanceBox {
	padding-left: 1rem;
}
#distanceBox {
	padding-left: 1rem;
}
#pointsCountSelector {
	display: inline-flex;

}
#pointsCountEmbed {
	display: inline-flex;
}
#pointsBox2 {
	border: 1px solid grey;
}

#buttonsStarterPack {
	display: flex;
}

#nearestPointContainer {
	display: inline-flex;
}

#trackSection {
	text-align: center;
}

#trackSecTable {
	padding-bottom: 2rem;
	padding-top:1rem;
}

td#trackSectionTitle{
	text-align: center;
	padding-left: 2%;
	min-width: 150px;
}

td#trackSectionTitle2{
	text-align: center;
	padding-left: 2%;
}

#trackSectionRow1 {
	display: inline-flex;
}